<a href="https://colab.research.google.com/github/muslimuddin2002/Python-practice/blob/main/Python_basics2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python 2**

## **Loops**

In [ ]:
## For Loop

for x in range(10): #Starting, Ending, Inc/Dec
  print("Skill Morph")

Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph
Skill Morph

In [ ]:
## Example in reverse order
for x in range(20,0,-1):
   print(x)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(10, 20, 2):
  print(i)

10
12
14
16
18

In [ ]:
##sum
##use for loop
sum = 0
for x in range(1,100+1,1):##1 to 100
  sum = sum+x
print(sum)

5050

In [ ]:
## Example : Loop through a string
language = 'Muslim uddin'
#iterate over each character in language
for x in language :
  print(x)

M
u
s
l
i
m

u
d
d
i
n

In [ ]:
## "for" loop with python range()
# iterate from i = 0 to i = 10
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#sum of first N Natural Numbers
N = int(input("Enter a number:"))
total = 0
for i in range (1,N+1):
   total +=i
print(f'The sum of the first {N} natural number is {total}.')

Enter a number:10
The sum of the first 10 natural number is 55.

In [ ]:
##Multiplication Table
number = int(input('Enter a number: '))
for i in range (1,11):
  print(f'{number} x {i} = {number * i}')

Enter a number: 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [ ]:
#Factorial of a number
number = int(input('Enter a number: '))
factorial = 1
for i in range (1,number + 1):
  factorial *=i
print(f'The factorial of {number} is {factorial}.')

Enter a number: 5
The factorial of 5 is 120.

In [ ]:
##Check for Prime Number
number = int(input('Enter a number: '))
if number > 1:
  for i in range (2,number):
    if number % i ==0:
       print(f'{number} is not a prime number.')
       break
  else:
      print(f'{number} is a prime number.')
else:
    print(f'{number} is not a prime number.')

Enter a number: 3
3 is a prime number.

In [ ]:
#Count Vowels in a String
string = input('Enter a string: ')
vowels = 'aeiouAEIOU'
count = 0
for char in string:
  if char in vowels:
       count +=1
print(f'The number of vowels in string is {count}.')

Enter a string: AAtunom
The number of vowels in string is 4.

In [ ]:
## Fibonacci Sequence
N = int(input('Enter the number  of terms: '))
a,b = 0,1
Fibonacci_Sequence = []
for _ in range(N):
    Fibonacci_Sequence.append(a)
    a,b = b,a+b
 # Join the list into a string with commas separeating the values
print(','.join (map (str,Fibonacci_Sequence)))

Enter the number  of terms: 20
0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,2584,4181

In [ ]:
## while loop

n = 10

while n!=0:
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#python while loop (example)
#Print numbers until the user enters 0
number = int(input('Enter a number'))

#iterate until the user enters 0
while number != 0:
  print(f'You entered {number}.')
  number = int(input('Enter a number: '))

print('The end')

Enter a number5
You entered5.
Enter a number: 8
You entered8.
Enter a number: 9
You entered9.

In [ ]:
#python while loop with an else clause
counter = 0
while counter < 5:
    print('This is inside loop counter = ',counter)
    counter = counter + 1
else:
  print('This is inside else block')

In [ ]:
##" break " statement with "for" Loop
for i in range(10):
  if i == 4:
    break
  print(i)

In [ ]:
## python "while" loop with "break" statement
while True:
  user_input = input('Enter Text: ')
  #terminate  the loop when user enters end
  if user_input == 'end':
    print(f'The loop is ended')
    break
  print(f'You Entered {user_input}')

Enter Text: Muslim uddin
You Entered Muslim uddin
Enter Text: muslim
You Entered muslim
Enter Text: end
The loop is ended

In [ ]:
#"continue" statement with "for" loop
for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
#"continue" statement with "while" loop

num =0
while num < 10:
  num += 1

  if (num % 2) == 0:
     continue
  print(num)

1
3
5
7
9

In [ ]:
# Simple number guessing game where the user has to guess a secret number.
import random
secret_number = random.randint(1,100)
guess = None
while guess != secret_number:
    guess = int(input('Guess the number(between 1 and 100):'))
    if guess <secret_number:
      print('Too low!')
    elif guess >secret_number:
        print('Too high!')
    else:
        print('congratulations! you guessed the number.')

Guess the number(between 1 and 100):8
Too low!
Guess the number(between 1 and 100):23
Too low!
Guess the number(between 1 and 100):90
Too high!
Guess the number(between 1 and 100):50
Too low!

In [ ]:
#Reverse a Number
number = int(input('Enter a number: '))
reversed_number = 0

while number > 0:
  digit = number % 10
  reversed_number = reversed_number * 10 + digit
  number = number // 10
print(f'The reversed number is {reversed_number}.')

In [ ]:
# H1: Write a program that prompts the user to input a number N and prints all even numbers between 1 and N using a for loop.
# Prompt the user to input a number
N = int(input("Enter a number: "))

# Print all even numbers between 1 and N
print("Even numbers between 1 and", N, "are:")
for i in range(2, N + 1, 2):
    print(i)

Enter a number: 10
Even numbers between 1 and 10 are:
2
4
6
8
10

In [ ]:
# H2: Write a program that prompts the user to input a number N and calculates the sum of all numbers from 1 to N that are divisible by 3 or 5.

N = int(input("Enter a number: "))

# Initialize sum
total = 0

# Loop from 1 to N
for i in range(1, N + 1):
    if i % 3 == 0 or i % 5 == 0:
        total += i

# Print the result
print("Sum of numbers divisible by 3 or 5 from 1 to", N, "is:", total)

Enter a number: 4
Sum of numbers divisible by 3 or 5 from 1 to 4 is: 3

In [ ]:
# H3: Write a program that prompts the user to input a number n and prints the multiplication table of n (1 to 10) using a for loop.
number = int(input('Enter a number: '))
for i in range (1,11):
  print(f'{number} x {i} = {number * i}')

Enter a number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# **Function**

In [18]:
# Calling a Function
def great():
    print('Hello World')

# call the function
great()

print('Outside function')

Hello World
Outside function

In [22]:
#python Function Arguments
def greet(name):
    print("Hello",name)

 # pass argument
greet("john")

Hello john

In [23]:
#Function to add two Numbers
def add_numbers(num1,num2):
  sum = num1 + num2
  print("Sum: ",sum)

#function call with two values
add_numbers(10,4)

Sum:  14

In [25]:
#The return Statement
# function definition
def find_squrare(num):
    result = num * num
    return result

# function call
square = find_squrare(3)

print('Square: ',square)

Square:  9

In [26]:
# Default Arguments in Functions
def greet(name,message = "Hello"):
  print(message,name)
#calling function with both arguments
greet("Alice","Good Morning")

#calling function with only one argument
greet("Bob")

Good Morning Alice
Hello Bob

In [27]:
# *args in function
# function to sum any number of arguments
def add_all(*numbers):
  return sum(numbers)

# pass any number of arguments
print(add_all(1,2,3,4))

10

In [30]:
##  *kwargs in Function

#function to print keyword arguments
def greet(**words):
    for key,value in words.items():
      print(f"{key}: {value}")

# pass any number of keyword arguments

greet(name = "john",greeting = "Hello")

name: john
greeting: Hello

In [44]:
## Python Local Variables
def greet():
    # local variable
    message = 'hello'
    print('Local', message)

greet()

# try to access message variable
# outside greet() function
print(message)

Local hello
Hello

In [43]:
## python Global Variables

# declare global variables

message = 'Hello'
def greet():
  # declare local variable
  print('Local',message)
greet()
print('Global',message)

Local Hello
Global Hello

In [47]:
#python Nonlocal variables
# outside function
def outer():
    message = 'local'
    #nested function
    def inner():
      #declare nonlocal variable
      nonlocal message

      message = 'nonlocal'
      print('Inner: ',message)
    inner()
    print('outer: ',message)
outer()

Inner:  nonlocal
outer:  nonlocal

In [48]:
from os import truncate
## Program to Check if a Number is prime
def is_prime(n):
  if n <= 1:
    return False
  for i in range(2, int(n**0.5)+1):
    if n % i == 0:
        return False
  return True
# Example usage
number = 20
print(f'Is {number} prime? {is_prime(number)}')

Is 20 prime? False

In [49]:
from binascii import b2a_base64
# Program to Calculate the Greatest Common Divisor(GCD)

def gcd(a,b):
    while b:
      a,b=b,a % b
    return a

#Example usage
num1,num2 = 48 ,18
print(f'GCD of {num1} and {num2} is {gcd(num1, num2)}')

GCD of 48 and 18 is 6

In [50]:
# Program to Find the sum Digits of a Number

def sum_of_digits(n):
  total = 0
  while n > 0:
    total += n % 10
    n //= 10
  return total
#Example usage
number = 1234
print(f'Sum of digits of {number} is {sum_of_digits(number)}')

Sum of digits of 1234 is 10

In [52]:
# Program to Find the Longest Word in a Sentence
def longest_word(Sentence):
    words = Sentence.split()
    longest = max(words,key=len)
    return longest

#Example usage
Sentence = 'The quick brown fox jumps over the lazy dog'
print(f"The longest word in the sentence is:'{longest_word(Sentence)}'")

The longest word in the sentence is:'quick'

In [53]:
#Program to Calculate the Area of a circle

import math
def area_of_circle(radius):
    return math.pi * (radius**2)

#Example usage
radius = 5
print(f'Area of the circle with radius {radius} is: {area_of_circle(radius)}')

Area of the circle with radius 5 is: 78.53981633974483

In [62]:
#Write a function to calculate the sum of numbers from 1 to N.

def sum_to_n(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
print(sum_to_n(5))   # Output: 15

15

In [64]:
# Write a function that returns the square of a number.
def square(num):
    return num * num
print(square(4))    # Output: 16

16

In [65]:
# Write a function that checks whether a number is even.
def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False
print(is_even(7))   # Output: False

False

In [66]:
# Write a function that returns the larger number from two given number.
def larger(a, b):
    if a > b:
        return a
    else:
        return b
print(larger(10, 20))   # Output: 20

20

## **Lists**

In [1]:
## List Examples

li = [10, 20, 40, 50]

print(li)

[10, 20, 40, 50]

In [2]:
# a list containing strings and numbers
student = ['Skill', 2025, 'Morph']
print(student)

# an empty list
empty_list = []
print(empty_list)

['Skill', 2025, 'Morph']
[]

In [3]:
## Using list() to Create Lists

x = "SKILL MORPH"

# convert to list
result = list(x)
print(result)

['S', 'K', 'I', 'L', 'L', ' ', 'M', 'O', 'R', 'P', 'H']

In [4]:
li = [90, 10, 100]

print(li[-1])

100

In [67]:
# Negative Indexing in python
language = ['python','swift','c++']
# Access item at index 0
print(language[-1]) #c++

# access item at index 2
print(language[-3]) #python

c++
python

In [5]:
## One example of list with condition

li = [3, 50, 20, 70, 30]

print(li)

for i in range(0, 5):
 ## print(i, "=>", li[i])
  if li[i] > 10:
    print(li[i])

[3, 50, 20, 70, 30]
50
20
70
30

In [68]:
## One example of list with loop
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num)

1
2
3
4
5

In [7]:
## Slicing of a List in Python

li = [2, 3, 5, 6, 10, 30, 3, 1, 10]

print(li[2: 5])

print(li[3: ])
print(li)
print(li[:])

[5, 6, 10]
[6, 10, 30, 3, 1, 10]
[2, 3, 5, 6, 10, 30, 3, 1, 10]
[2, 3, 5, 6, 10, 30, 3, 1, 10]

In [69]:
## Add Elements to a python list

subjects = ['cse','eee','ce']
print('Original List : ',subjects)

#using append method
subjects.append('English')
print('Updated list:',subjects)

Original List :  ['cse', 'eee', 'ce']
Updated list: ['cse', 'eee', 'ce', 'English']

In [70]:
## Add Elements at the Specified Index python list

subjects = ['cse','eee','ce']
print('Original List : ',subjects)

#using insert method
subjects.insert(2,'English')
print('Updated list:',subjects)

Original List :  ['cse', 'eee', 'ce']
Updated list: ['cse', 'eee', 'English', 'ce']

In [71]:
## Add Elements to a list from other Iterables

numbers = [1,2,5]
print('Numbers:',numbers)

even_numbers = [2,4,6]

#adding elements of one list to another
numbers.extend(even_numbers)
print('Updated Numbers: ',numbers)

Numbers: [1, 2, 5]
Updated Numbers:  [1, 2, 5, 2, 4, 6]

In [72]:
# Change List Items
colors = ['Red','Black','Green']
print('Original List:',colors)

# changing the third item to 'Blue'
colors[2] = 'blue'
print('Updated List: ',colors)

Original List: ['Red', 'Black', 'Green']
Updated List:  ['Red', 'Black', 'blue']

In [75]:
# Remove an item from List
colors = ['Red','Black','Green']
print('Original List:',colors)

# Remove the third item to 'Green'
colors.remove('Green')
print('Updated List: ',colors)

Original List: ['Red', 'Black', 'Green']
Updated List:  ['Red', 'Black']

In [80]:
# deleting one or more item from List
colors = ['Red','Black','Green','Blue','sky']
print('Original List:',colors)

# deleting the third item to 'Green'
del colors[2]
print(colors)
# deleting items from index 1 to 3
del colors[1:4]
print(colors)

Original List: ['Red', 'Black', 'Green', 'Blue', 'sky']
['Red', 'Black', 'Blue', 'sky']
['Red']

In [81]:
# python List Length

cars = ['BMW','Mercedes','Tesla']
print('Total Elements: ',len(cars))

Total Elements:  3

In [82]:
#Iterating Through a List
fruits = ['Apple','banna','orange']
#iterate through the list
for fruit in fruits:
  print(fruit)

Apple
banna
orange

In [84]:
## Check if an Item Exists in the Python List
fruits = ['Apple','banna','orange']

print('cherry' in fruits)
print('banna' in fruits)

False
True

In [85]:
# Sort a list in Ascending and Desecnding order
my_list = input("Enter elements separated by spaces: ").split()
my_list = [int(x) for x in my_list]

my_list.sort()
print('Sorted list in ascending order: ',my_list)

my_list.sort(reverse=True)
print('Sorted list in Descending order: ',my_list)

Enter elements separated by spaces: 87 98 22 66
Sorted list in ascending order:  [22, 66, 87, 98]
Sorted list in Descending order:  [98, 87, 66, 22]

In [87]:
#Merge Two Lists and Remove Duplicates
list1 = input('Enter elements of the first list separated by spaces:').split()
list1 = [int(x) for x in list1]

list2 = input('Enter elements of the second list separated by spaces:').split()
list2 = [int(x) for x in list2]

merged_list = list1 + list2
merged_list = list(set(merged_list))

print('Merged list without duplicates: ',merged_list)

Enter elements of the first list separated by spaces:10 20 11 2 3
Enter elements of the first list separated by spaces:22 333  44 55
Merged list without duplicates:  [2, 3, 10, 11, 44, 333, 20, 22, 55]

In [92]:
#Find the Intersection of Two Lists
#Merge Two Lists and Remove Duplicates
list1 = input('Enter elements of the first list separated by spaces:').split()
list1 = [int(x) for x in list1]

list2 = input('Enter elements of the second list separated by spaces:').split()
list2 = [int(x) for x in list2]

Intersection = list(set(list1) & set(list2))

print('Intersection of the two lists: ',Intersection)

Enter elements of the first list separated by spaces:3 4 5
Enter elements of the second list separated by spaces:1 2 7
Intersection of the two lists:  []

In [93]:
# Create a list of 10 integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Original list:", numbers)

# Append an element to the list
numbers.append(11)
print("After append:", numbers)

# Insert an element at a specific position (index 3)
numbers.insert(3, 99)
print("After insert:", numbers)

# Remove an element from the list
numbers.remove(5)
print("After remove:", numbers)

# Pop an element from a specific position (index 2)
numbers.pop(2)
print("After pop:", numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After append: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
After insert: [1, 2, 3, 99, 4, 5, 6, 7, 8, 9, 10, 11]
After remove: [1, 2, 3, 99, 4, 6, 7, 8, 9, 10, 11]
After pop: [1, 2, 99, 4, 6, 7, 8, 9, 10, 11]

In [94]:
#Write a program to find all unique elements in the list.
numbers = [1, 2, 3, 2, 4, 5, 1, 6, 3]

unique_elements = []

for num in numbers:
    if num not in unique_elements:
        unique_elements.append(num)

print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6]

## **Tuples**

In [8]:
t = (3, 10, 5, 6)

print(t)

print(len(t)) # Length of a tuple

t1 = (3, "SKill", "2025")
print(t1[1])

print(t1)

(3, 10, 5, 6)
4
SKill
(3, 'SKill', '2025')

In [9]:
## Tuple Function

my_tuple = (1, 2, 3, 1, 1, 4)
print(my_tuple.count(1))  # Output: 3

print(my_tuple.index(3))

another_tuple  = (4, 5, 6, 7, 8)

new_tuple = my_tuple + another_tuple # Concatenate tuples
print(new_tuple)

3
2
(1, 2, 3, 1, 1, 4, 4, 5, 6, 7, 8)

In [95]:
# Tuple of Different Data Types
# tuples of string types
names = ('james','Jack','Eva')
print(names)

# tuple of float types
float_values = (1.2,23.4,2.1)
print(float_values)

('james', 'Jack', 'Eva')
(1.2, 23.4, 2.1)

## **String**

In [10]:
# Assigning values to variables
str1 = "Skill Morph!"
str2 = "I love Python."
str3 = "Skill Morph!"

# Compare str1 and str2
print(str1 == str2)  # This will print: False

# Compare str1 and str3
print(str1 == str3)  # This will print: True

False
True

In [11]:
## Iteration

sm = "SKill Morph"

for char in sm:
  print(char)

for i in range(0, len(sm)):
  print(sm[i])

S
K
i
l
l

M
o
r
p
h
S
K
i
l
l

M
o
r
p
h

In [12]:
## String Functions

# Initial string
s = "Skill Morph"

# 1. upper()
print(s.upper())  # Converts all characters to uppercase
# 2. lower()
print(s.lower())  # Converts all characters to lowercase
# 3. partition()
print(s.partition(' '))  # Splits the string at the first occurrence of ' '
# 4. replace()
print(s.replace('Morph', 'Master'))  # Replaces 'Morph' with 'Master'
# 5. find()
print(s.find('Morph'))  # Returns the index of 'Morph' in the string, or -1 if not found
# 6. rstrip()
print(s.rstrip())  # Removes trailing spaces from the string
# 7. split()
print(s.split())  # Splits the string into a list at spaces
# 8. startswith()
print(s.startswith('Skill'))  # Checks if the string starts with 'Skill'
# 9. isnumeric()
print(s.isnumeric())  # Checks if all characters in the string are numeric (returns False)
# 10. index()
print(s.index('Morph'))  # Returns the index of the first occurrence of 'Morph'

SKILL MORPH
skill morph
('Skill', ' ', 'Morph')
Skill Master
6
Skill Morph
['Skill', 'Morph']
True
False
6

In [13]:
s = "Skill Morph"

print(len(s)) # Lentgth Function

11

In [14]:
S = "\"How's"

print(S)

"How's

In [96]:
# Escape Sequences in python
# escape double quotes
example = "He said, \"What's there?\""

#escape single quotes
example = 'He said, "What\'s there?"'
print(example)

He said, "What's there?"

## **Sets**

In [15]:
s = {1, 3, 5, 6, 7, 3, 10}

print(s)

{1, 3, 5, 6, 7, 10}

In [16]:
# Create a set of even numbers
even_numbers = {2, 4, 6, 8}

# Print the set
print('Set:', even_numbers)

# Find the number of elements in the set
print('Total Elements:', len(even_numbers))

Set: {8, 2, 4, 6}
Total Elements: 4

In [98]:
#union of two sets
# first set
A = {1,2,3}

#second set
B = {0,4,5}
#perform uion operation using |
print('Union using |:',A|B)

#perform union operation using union()
print('union using union():',A.union(B))

Union using |: {0, 1, 2, 3, 4, 5}
union using union(): {0, 1, 2, 3, 4, 5}

#**Dictionary**

In [99]:
# creating a dictionary
country_capitals = {
    "Germany": "Berlin",
    "Canada": "ottawa"
}
#printing the dictionary
print(country_capitals)

{'Germany': 'Berlin', 'Canada': 'ottawa'}

## **Modules**

In [17]:
import math

print(math.sqrt(16))  # Output: 4.0

print(math.pi)  # Output: 3.141592653589793

4.0
3.141592653589793

# **Thank You!**