<a href="https://colab.research.google.com/github/muslimuddin2002/Python-practice/blob/main/%E2%AD%90_Python_Pattern_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Star Square Pattern
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [5]:
#Right Triangle Pattern
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
#Reverse Right Triangle
for i in range(6, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [24]:
#Number Triangle
for i in range(1, 6):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
#Same Number Pattern
for i in range(1, 6):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
#Pyramid Star Pattern
n = 5
for i in range(1, n+1):
    print(" " * (n-i), end="")
    for j in range(i):
        print("* ", end="")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [31]:
#Reverse Pyramid
n = 5
for i in range(n, 0, -1):
    print(" " * (n-i), end="")
    for j in range(i):
        print("* ", end="")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [33]:
#Pattern
num = 1

for i in range(1, 5):          # row
    for j in range(i):         # column
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [38]:
#Pyramid Feel âœ¨
lines = ["I", "love", "you", "313"]
spaces = [6, 4,5, 5]

for s, l in zip(spaces, lines):
    print(" " * s + l)

      I
    love
     you
     313